body {
    background: #A5D7E8;
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    margin: 80px auto;
    background: white;
    padding: 25px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

input {
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #333;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #0077b6;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #023e8a;
}

.card {
    margin-top: 20px;
    padding: 15px;
    background: #caf0f8;
    border-radius: 10px;
}

.error {
    color: red;
    font-weight: bold;
}
